$textColor: #333;
$textSecondary: #666666;

$borderUnfocused: 1px solid #e6e6e6;
$borderFocused: 1px solid $textColor !important;

$borderDanger: 1px solid #F44336 !important;


.product__heading {
  padding: 0 20px;
  width: 100%;
  margin-bottom: 45px;
  color: $textColor;
  
  h2 {
    font-size: 30px;
    font-weight: 500;
  }
}



.product__inputbox {

  padding: 0 20px;
  margin-bottom: 34px;

  &_inner {
    width: 100%;
    height: 50px;
    overflow: hidden !important;
    border: $borderUnfocused;
    transition: $mainTransition;

    &-input {
      width: 100%;
      height: 100%;
      padding: 0 20px;
      font-size: 16px;
      font-weight: 400;
      border: $borderUnfocused;
      transition: $mainTransition;

      &::-webkit-input-placeholder {
        font-size: 16px !important;
      }

      &::-moz-placeholder {
        font-size: 16px !important;
      }
      
      &:-ms-input-placeholder {
        font-size: 16px !important;
      }
      
      &:-moz-placeholder {
        font-size: 16px !important;
      }

      &:focus, &:active {
        border: $borderFocused;
        transition: $mainTransition;
        -webkit-transition: $mainTransition;
      }
    }

    &-input-danger {
      width: 100%;
      height: 100%;
      padding: 0 20px;
      font-size: 16px;
      font-weight: 400;
      border: $borderDanger;
      transition: $mainTransition;

      &::-webkit-input-placeholder {
        font-size: 16px !important;
      }

      &::-moz-placeholder {
        font-size: 16px !important;
      }
      
      &:-ms-input-placeholder {
        font-size: 16px !important;
      }
      
      &:-moz-placeholder {
        font-size: 16px !important;
      }

      &:focus, &:active {
        border: $borderDanger;
        transition: $mainTransition;
        -webkit-transition: $mainTransition;
      }
    }

  }

  &_option {

    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 50px;
    padding: 0 20px;
    overflow: hidden !important;
    border: $borderUnfocused;
    transition: $mainTransition;

    p {
      color: $textSecondary;
      font-size: 16px;
      font-weight: 400;
      text-overflow: ellipsis;
      overflow: hidden;
      white-space: nowrap;
    }

    .icon {
      color: $textSecondary;
      font-size: 16px;
      font-weight: 400;
    }

    /*.icon i {
      //transform: rotate(180deg);
    }*/

    &.optionbox {
      display: flex;
      justify-content: flex-start;
      align-items: center;
      width: 100%;
      height: auto;
      color: $textColor;
      z-index: 10;
      padding: 15px 20px;
      overflow: hidden !important;
      border-top: none !important;
      border: $borderUnfocused;
      transition: all 0.3s ease;

      &:hover {
        cursor: pointer;
        background-color: $theme;
        color: $primaryText;
        border: 1px solid $themeHover;
        transition: all 0.3s ease;
      }
      
    }

  }

  &_text {
    width: 100%;
    height: 250px;
    overflow: hidden !important;
    border: $borderUnfocused;
    transition: $mainTransition;

    textarea {
      padding: 20px 20px;
      width: 100%;
      height: 100%;
      font-size: 16px;
      font-weight: 400;
      border: none;
      resize: none;
      transition: $mainTransition;

      &::-webkit-input-placeholder {
        font-size: 16px !important;
      }

      &::-moz-placeholder {
        font-size: 16px !important;
      }
      
      &:-ms-input-placeholder {
        font-size: 16px !important;
      }
      
      &:-moz-placeholder {
        font-size: 16px !important;
      }

      &:focus, &:active {
        border: $borderFocused;
        transition: $mainTransition;
        -webkit-transition: $mainTransition;
      }
    }

  }

  &_text-danger {
    width: 100%;
    height: 250px;
    overflow: hidden !important;
    border: $borderDanger;
    transition: $mainTransition;

    textarea {
      padding: 20px 20px;
      width: 100%;
      height: 100%;
      font-size: 16px;
      font-weight: 400;
      border: none;
      resize: none;
      transition: $mainTransition;

      &::-webkit-input-placeholder {
        font-size: 16px !important;
      }

      &::-moz-placeholder {
        font-size: 16px !important;
      }
      
      &:-ms-input-placeholder {
        font-size: 16px !important;
      }
      
      &:-moz-placeholder {
        font-size: 16px !important;
      }
      
    }
  }

  &_filebox {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    height: 50px;
    border: $borderUnfocused;
    transition: $primaryText;

    &-button {
      height: 100%;
      background-color: $textColor;
      color: $primaryText;
      padding: 0 20px;
      transition: $mainTransition;

      span {
        font-size: 16px !important;
        text-transform: uppercase;
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
      }

      @media (max-width: 768px) {
        font-size: 13px;
      }

      &:hover, &:active, &:focus {
        background-color: $theme;
        transition: $mainTransition;
      }
    }

    &-text {
      margin-left: 20px;
      font-size: 15px;
      font-weight: 400;
      color: $textSecondary;
      text-transform: uppercase;
      text-overflow: ellipsis;
      overflow: hidden;
      white-space: nowrap;

      @media (max-width: 768px) {
        font-size: 12px;
      }
    }
  }

  &_number {

    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    height: 50px;
    border: $borderUnfocused;
    transition: $mainTransition;

    &:focus-within {
      border: $borderFocused;
      transition: $mainTransition;
    }


    .labelbox {

      height: 100%;
      display: flex;
      align-items: center;
      background-color: $textColor;
      color: $primaryText;
      padding: 0 20px;
      transition: $mainTransition;

      @media (max-width: 768px) {
        padding: 0 10px !important;
      }

      span {
        font-size: 16px;
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
      }

      &:hover {
        background-color: $theme;
        transition: $mainTransition;
      }

    }

    &-input {

      margin: 0 20px;
      height: 100%;
      flex: 1;
      font-size: 16px !important;

      @media (max-width: 768px) {
        font-size: 13px !important;
      }

      &::-webkit-inner-spin-button {
        opacity: 1;
      }

    }

    
  }

  &_number.danger {
    border: $borderDanger;
  }

}


.product__buttonbox {

  width: 100%;
  padding: 0 20px;

  &_button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 46px;
    font-family: inherit;
    font-weight: 400;
    font-size: 16px;
    text-transform: uppercase;
    border-radius: 100px;
    color: $primaryText;
    background-color: $theme;
    transition: $mainTransition;

    &:hover {
      background-color: $themeHover;
      transition: $mainTransition;
    }
  }

}