.fullwidth {
  width: 100% !important;
}

.divider {
  display: flex !important;
}

@media (max-width: 1000px) {
  .divider {
    flex-direction: column !important;
  }
}

.focusedBorder {
  border: 1px solid #333 !important;
}

.textColor {
  color: #333 !important;
}

.select {
  display: flex !important;
  transition: all 0.3s linear !important;
}

.rotateArrow {
  transform: rotate(180deg);
  transition: all 0.3s linear !important;
}

.wrapper {
  width: 100%;
  height: 100%;
  background-color: #fffffe;
}

.wrapper .top_navbar {
  width: 100%;
  height: 65px;
  display: flex;
  position: fixed;
  top: 0;
  z-index: 2005;
}

.wrapper .top_navbar .adminLogo {
  width: 250px;
  height: 100%;
  background: #FF5722;
  border-bottom: 1px solid #fff;
  transition: all 0.3s linear;
}

.wrapper .top_navbar .adminLogo a {
  display: block;
  text-align: center;
  font-size: 20px;
  color: #fff;
  padding: 15px 0;
  transition: all 0.3s linear;
}

.wrapper .top_navbar .top_menu {
  width: calc(100% - 250px);
  height: 100%;
  background-color: #fff;
  padding: 0 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid rgba(189, 189, 189, 0.5);
  transition: all 0.3s linear;
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
}

.wrapper .top_navbar .top_menu .home_link a {
  display: block;
  background-color: #FF5722;
  color: #fff;
  padding: 8px 15px;
  border-radius: 3px;
  transition: all 0.3s linear;
}

.wrapper .top_navbar .top_menu .home_link a:hover {
  background-color: #E64A19;
}

.wrapper .top_navbar .top_menu .right_info {
  display: flex;
  font-size: 15px !important;
}

.wrapper .top_navbar .top_menu .right_info .icon_wrap {
  padding: 8px 15px;
  color: #fff;
  border-radius: 3px;
  background-color: #FF5722;
  margin: 0 5px;
  cursor: pointer;
  transition: all 0.3s linear;
}

.wrapper .top_navbar .top_menu .right_info .icon_wrap:hover {
  background-color: #E64A19;
}

.wrapper .main_body .sidebar_menu {
  position: fixed;
  top: 65px;
  left: 0;
  background-image: linear-gradient(to right bottom, #FF5722, #E64A19);
  color: #fff;
  width: 250px;
  height: 100%;
  transition: all 0.3s linear;
}

.wrapper .main_body .sidebar_menu__inner {
  position: relative;
  padding-top: 16px;
}

.wrapper .main_body .sidebar_menu ul li a {
  color: #FFCCBC;
  font-size: 19px;
  padding: 20px 35px;
  display: block;
  white-space: nowrap;
  transition: all 0.3s linear;
}

.wrapper .main_body .sidebar_menu ul li a span {
  display: inline-block;
}

.wrapper .main_body .sidebar_menu ul li a .icon {
  margin-right: 8px;
}

.wrapper .main_body .sidebar_menu ul li a:hover {
  background-color: #E64A19;
  color: #fff;
}

.wrapper .main_body .sidebar_menu ul li a svg {
  height: 19px;
  width: 19px;
}

.wrapper .main_body .sidebar_menu ul li a.active {
  background-color: #E64A19;
  color: #fff;
}

.wrapper .main_body .sidebar_menu .hamberger {
  position: absolute;
  top: 5px;
  right: -25px;
  width: 50px;
  height: 50px;
  background-color: #fff;
  border-radius: 50%;
}

.wrapper .main_body .sidebar_menu .hamberger:hover {
  cursor: pointer;
}

.wrapper .main_body .sidebar_menu .hamberger_inner {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #FF5722;
}

.wrapper .main_body .sidebar_menu .hamberger_inner:hover {
  cursor: pointer;
}

.wrapper .main_body .sidebar_menu .hamberger_inner .arrow {
  color: #fff;
  font-size: 20px;
}

.wrapper .main_body .sidebar_menu .hamberger_inner .arrow:hover {
  cursor: pointer;
}

.wrapper .main_body .sidebar_menu .hamberger_inner,
.wrapper .main_body .sidebar_menu .hamberger_inner .arrow {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.wrapper .main_body .container {
  position: relative;
  width: calc(100% - 250px);
  margin-left: 250px;
  margin-top: 65px;
  margin-right: 0px !important;
  padding: 25px 40px;
  transition: all 0.3s linear;
}

.wrapper .main_body .container .item_wrap {
  margin-top: 25px;
}

.wrapper .main_body .container .item_wrap .widget {
  background-color: #fff;
  padding: 20px;
  margin-bottom: 25px;
  border-radius: 3px;
}

.wrapper .main_body .container .item_wrap .widget.widget-tile {
  padding: 24px 20px;
  margin-bottom: 25px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.175) !important;
  transition: all 0.3s linear;
}

.wrapper .main_body .container .item_wrap .widget.widget-tile:hover {
  transform: translateY(-3px);
}

.wrapper .main_body .container .item_wrap .widget.widget-tile .icon {
  font-size: 70px;
  padding: 5px 0;
  color: #FF5722;
}

.wrapper .main_body .container .item_wrap .widget.widget-tile .data-info {
  text-align: right;
}

.wrapper .main_body .container .item_wrap .widget.widget-tile .data-info .desc {
  font-size: 20px;
  line-height: 19px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  margin-bottom: 3px;
}

.wrapper .main_body .container .item_wrap .widget.widget-tile .data-info .value {
  font-size: 25px;
}

.wrapper .main_body .container .item_wrap .widget.widget-tile .data-info .value .icon {
  font-size: inherit;
  font-weight: 300;
  color: #4CAF50;
  margin-right: 7px;
  line-height: 23px;
  vertical-align: middle;
}

.wrapper .main_body .container .item_wrap .widget.widget-tile .data-info .value .number {
  font-weight: 300;
}

.wrapper .main_body .container .item_wrap .order__active {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
  margin-bottom: 50px;
}

.wrapper .main_body .container .item_wrap .order__active_total {
  padding: 20px 20px;
}

.wrapper .main_body .container .item_wrap .order__active_total-header {
  font-weight: 500;
  font-size: 20px;
  color: #333;
}

.wrapper .main_body .container .item_wrap .order__active_total-header span {
  font-weight: 400;
  color: #666666;
}

.wrapper .main_body .container .item_wrap .order__session {
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
  margin-bottom: 50px;
  padding: 20px 40px;
}

.wrapper .main_body .container .item_wrap .order__session.success {
  background-color: #4CAF50;
}

.wrapper .main_body .container .item_wrap .order__session.danger {
  background-color: #F44336;
}

.wrapper .main_body .container .item_wrap .order__session_content {
  font-weight: 500;
  font-size: 20px;
  color: #fff;
}

.wrapper .main_body .container .item_wrap .order__session_content.cross {
  cursor: pointer;
}

.wrapper .main_body .container .item_wrap .orderbox {
  box-shadow: 0 7px 10px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
  margin-bottom: 45px;
  overflow: hidden !important;
  transition: all 0.3s linear;
}

.wrapper .main_body .container .item_wrap .orderbox:hover {
  transform: translateY(-5px);
  box-shadow: 0 10px 13px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
}

.wrapper .main_body .container .item_wrap .orderbox__inner {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
  padding: 20px 40px;
}

.wrapper .main_body .container .item_wrap .orderbox__inner_item {
  align-self: center;
  flex: 1;
  font-size: 20px;
  color: #333;
  margin-right: 30px;
}

.wrapper .main_body .container .item_wrap .orderbox__inner_item-title .title {
  font-size: 16px;
  font-weight: 500;
  color: #333;
}

.wrapper .main_body .container .item_wrap .orderbox__inner_item-title .description {
  font-size: 16px;
  font-weight: 400;
  color: #666666;
}

.wrapper .main_body .container .item_wrap .orderbox__inner_item-title .heading {
  font-size: 13px;
  font-weight: 400;
  color: #666666;
  margin-bottom: 3px;
}

.wrapper .main_body .container .item_wrap .orderbox__inner_item-title .price {
  font-size: 16px;
  font-weight: 500;
  color: #4CAF50;
}

.wrapper .main_body .container .item_wrap .orderbox__inner_item-title .time {
  font-size: 16px;
  font-weight: 500;
  color: #F44336;
}

@media (max-width: 840px) {
  .wrapper .main_body .container .item_wrap .orderbox__inner {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
  }

  .wrapper .main_body .container .item_wrap .orderbox__inner_item {
    align-self: flex-start;
    flex: 1;
    margin-right: 0;
    margin-bottom: 30px;
  }
}

.wrapper .main_body .container .item_wrap .product__heading {
  padding: 0 20px;
  width: 100%;
  margin-bottom: 45px;
  color: #333;
}

.wrapper .main_body .container .item_wrap .product__heading h2 {
  font-size: 30px;
  font-weight: 500;
}

.wrapper .main_body .container .item_wrap .product__inputbox {
  padding: 0 20px;
  margin-bottom: 34px;
  transition: all 0.3s linear;
}

.wrapper .main_body .container .item_wrap .product__inputbox_inner {
  width: 100%;
  height: 50px;
  overflow: hidden !important;
  border: 1px solid #e6e6e6;
  transition: all 0.3s linear;
}

.wrapper .main_body .container .item_wrap .product__inputbox_inner-input {
  width: 100%;
  height: 100%;
  padding: 0 20px;
  font-size: 16px;
  font-weight: 400;
  border: 1px solid #e6e6e6;
  transition: all 0.3s linear;
}

.wrapper .main_body .container .item_wrap .product__inputbox_inner-input::-webkit-input-placeholder {
  font-size: 16px !important;
}

.wrapper .main_body .container .item_wrap .product__inputbox_inner-input::-moz-placeholder {
  font-size: 16px !important;
}

.wrapper .main_body .container .item_wrap .product__inputbox_inner-input:-ms-input-placeholder {
  font-size: 16px !important;
}

.wrapper .main_body .container .item_wrap .product__inputbox_inner-input:-moz-placeholder {
  font-size: 16px !important;
}

.wrapper .main_body .container .item_wrap .product__inputbox_inner-input:focus,
.wrapper .main_body .container .item_wrap .product__inputbox_inner-input:active {
  border: 1px solid #333 !important;
  transition: all 0.3s linear;
  -webkit-transition: all 0.3s linear;
}

.wrapper .main_body .container .item_wrap .product__inputbox_inner-input-danger {
  width: 100%;
  height: 100%;
  padding: 0 20px;
  font-size: 16px;
  font-weight: 400;
  border: 1px solid #F44336 !important;
  transition: all 0.3s linear;
}

.wrapper .main_body .container .item_wrap .product__inputbox_inner-input-danger::-webkit-input-placeholder {
  font-size: 16px !important;
}

.wrapper .main_body .container .item_wrap .product__inputbox_inner-input-danger::-moz-placeholder {
  font-size: 16px !important;
}

.wrapper .main_body .container .item_wrap .product__inputbox_inner-input-danger:-ms-input-placeholder {
  font-size: 16px !important;
}

.wrapper .main_body .container .item_wrap .product__inputbox_inner-input-danger:-moz-placeholder {
  font-size: 16px !important;
}

.wrapper .main_body .container .item_wrap .product__inputbox_inner-input-danger:focus,
.wrapper .main_body .container .item_wrap .product__inputbox_inner-input-danger:active {
  border: 1px solid #F44336 !important;
  transition: all 0.3s linear;
  -webkit-transition: all 0.3s linear;
}

.wrapper .main_body .container .item_wrap .product__inputbox_option {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 50px;
  padding: 0 20px;
  overflow: hidden !important;
  border: 1px solid #e6e6e6;
  transition: all 0.3s linear;
}

.wrapper .main_body .container .item_wrap .product__inputbox_option.danger {
  border: 1px solid #F44336 !important;
}

.wrapper .main_body .container .item_wrap .product__inputbox_option p {
  color: #666666;
  font-size: 16px;
  font-weight: 400;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.wrapper .main_body .container .item_wrap .product__inputbox_option .icon {
  color: #666666;
  font-size: 16px;
  font-weight: 400;
}

.wrapper .main_body .container .item_wrap .product__inputbox_option .icon i {
  transition: all 0.3s linear;
}

.wrapper .main_body .container .item_wrap .product__inputbox_option.optionbox {
  display: none;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  height: auto;
  color: #333;
  z-index: 10;
  padding: 15px 20px;
  overflow: hidden !important;
  border-top: none !important;
  border: 1px solid #e6e6e6;
  transition: all 0.3s linear;
}

.wrapper .main_body .container .item_wrap .product__inputbox_option.optionbox:hover {
  cursor: pointer;
  background-color: #FF5722;
  color: #fff;
  border: 1px solid #E64A19;
  transition: all 0.3s linear;
}

.wrapper .main_body .container .item_wrap .product__inputbox__newoption {
  width: 100%;
  padding: 15px 20px;
  border: 1px solid #e6e6e6;
  color: #333;
  cursor: pointer;
  transition: all 0.3s linear;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/svg" width="100" height="50"><polygon points="0,0 100,0 50,50" style="fill:%23666666" /></svg>');
  background-position: right 10px top 50%;
  background-repeat: no-repeat;
  background-size: 10px;
  padding-right: 30px;
}

.wrapper .main_body .container .item_wrap .product__inputbox__newoption:invalid {
  color: #666666;
}

.wrapper .main_body .container .item_wrap .product__inputbox__newoption.danger {
  border: 1px solid #F44336 !important;
}

.wrapper .main_body .container .item_wrap .product__inputbox__newoption:focus,
.wrapper .main_body .container .item_wrap .product__inputbox__newoption:hover {
  outline: none;
}

.wrapper .main_body .container .item_wrap .product__inputbox__newoption option {
  color: #333;
}

.wrapper .main_body .container .item_wrap .product__inputbox__newoption option:hover {
  background-color: #FF5722;
}

.wrapper .main_body .container .item_wrap .product__inputbox__newoption option:disabled {
  color: #666666;
}

.wrapper .main_body .container .item_wrap .product__inputbox_text {
  width: 100%;
  height: 250px;
  overflow: hidden !important;
  border: 1px solid #e6e6e6;
  transition: all 0.3s linear;
}

.wrapper .main_body .container .item_wrap .product__inputbox_text textarea {
  padding: 20px 20px;
  width: 100%;
  height: 100%;
  font-size: 16px;
  font-weight: 400;
  border: none;
  resize: none;
  transition: all 0.3s linear;
}

.wrapper .main_body .container .item_wrap .product__inputbox_text textarea::-webkit-input-placeholder {
  font-size: 16px !important;
}

.wrapper .main_body .container .item_wrap .product__inputbox_text textarea::-moz-placeholder {
  font-size: 16px !important;
}

.wrapper .main_body .container .item_wrap .product__inputbox_text textarea:-ms-input-placeholder {
  font-size: 16px !important;
}

.wrapper .main_body .container .item_wrap .product__inputbox_text textarea:-moz-placeholder {
  font-size: 16px !important;
}

.wrapper .main_body .container .item_wrap .product__inputbox_text textarea:focus,
.wrapper .main_body .container .item_wrap .product__inputbox_text textarea:active {
  border: 1px solid #333 !important;
  transition: all 0.3s linear;
  -webkit-transition: all 0.3s linear;
}

.wrapper .main_body .container .item_wrap .product__inputbox_text-danger {
  width: 100%;
  height: 250px;
  overflow: hidden !important;
  border: 1px solid #F44336 !important;
  transition: all 0.3s linear;
}

.wrapper .main_body .container .item_wrap .product__inputbox_text-danger textarea {
  padding: 20px 20px;
  width: 100%;
  height: 100%;
  font-size: 16px;
  font-weight: 400;
  border: none;
  resize: none;
  transition: all 0.3s linear;
}

.wrapper .main_body .container .item_wrap .product__inputbox_text-danger textarea::-webkit-input-placeholder {
  font-size: 16px !important;
}

.wrapper .main_body .container .item_wrap .product__inputbox_text-danger textarea::-moz-placeholder {
  font-size: 16px !important;
}

.wrapper .main_body .container .item_wrap .product__inputbox_text-danger textarea:-ms-input-placeholder {
  font-size: 16px !important;
}

.wrapper .main_body .container .item_wrap .product__inputbox_text-danger textarea:-moz-placeholder {
  font-size: 16px !important;
}

.wrapper .main_body .container .item_wrap .product__inputbox_filebox {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  height: 50px;
  border: 1px solid #e6e6e6;
  transition: #fff;
}

.wrapper .main_body .container .item_wrap .product__inputbox_filebox-button {
  height: 100%;
  background-color: #333;
  color: #fff;
  padding: 0 20px;
  transition: all 0.3s linear;
}

.wrapper .main_body .container .item_wrap .product__inputbox_filebox-button span {
  font-size: 16px !important;
  text-transform: uppercase;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

@media (max-width: 768px) {
  .wrapper .main_body .container .item_wrap .product__inputbox_filebox-button {
    font-size: 13px;
  }
}

.wrapper .main_body .container .item_wrap .product__inputbox_filebox-button:hover,
.wrapper .main_body .container .item_wrap .product__inputbox_filebox-button:active,
.wrapper .main_body .container .item_wrap .product__inputbox_filebox-button:focus {
  background-color: #FF5722;
  transition: all 0.3s linear;
}

.wrapper .main_body .container .item_wrap .product__inputbox_filebox-text {
  margin-left: 20px;
  font-size: 15px;
  font-weight: 400;
  color: #666666;
  text-transform: uppercase;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

@media (max-width: 768px) {
  .wrapper .main_body .container .item_wrap .product__inputbox_filebox-text {
    font-size: 12px;
  }
}

.wrapper .main_body .container .item_wrap .product__inputbox_filebox.danger {
  border: 1px solid #F44336 !important;
}

.wrapper .main_body .container .item_wrap .product__inputbox_number {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  height: 50px;
  border: 1px solid #e6e6e6;
  transition: all 0.3s linear;
}

.wrapper .main_body .container .item_wrap .product__inputbox_number:focus-within {
  border: 1px solid #333 !important;
  transition: all 0.3s linear;
}

.wrapper .main_body .container .item_wrap .product__inputbox_number .labelbox {
  height: 100%;
  display: flex;
  align-items: center;
  background-color: #333;
  color: #fff;
  padding: 0 20px;
  transition: all 0.3s linear;
}

@media (max-width: 768px) {
  .wrapper .main_body .container .item_wrap .product__inputbox_number .labelbox {
    padding: 0 10px !important;
  }
}

.wrapper .main_body .container .item_wrap .product__inputbox_number .labelbox span {
  font-size: 16px;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.wrapper .main_body .container .item_wrap .product__inputbox_number .labelbox:hover {
  background-color: #FF5722;
  transition: all 0.3s linear;
}

.wrapper .main_body .container .item_wrap .product__inputbox_number-input {
  margin: 0 20px;
  height: 100%;
  flex: 1;
  font-size: 16px !important;
}

@media (max-width: 768px) {
  .wrapper .main_body .container .item_wrap .product__inputbox_number-input {
    font-size: 13px !important;
  }
}

.wrapper .main_body .container .item_wrap .product__inputbox_number-input::-webkit-inner-spin-button {
  opacity: 1;
}

.wrapper .main_body .container .item_wrap .product__inputbox_number.danger {
  border: 1px solid #F44336 !important;
}

.wrapper .main_body .container .item_wrap .product__buttonbox {
  width: 100%;
  padding: 0 20px;
}

.wrapper .main_body .container .item_wrap .product__buttonbox_button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 46px;
  font-family: inherit;
  font-weight: 400;
  font-size: 16px;
  text-transform: uppercase;
  border-radius: 100px;
  color: #fff;
  background-color: #FF5722;
  transition: all 0.3s linear;
}

.wrapper .main_body .container .item_wrap .product__buttonbox_button:hover {
  background-color: #E64A19;
  transition: all 0.3s linear;
}

.wrapper .main_body .container .item_wrap #categoryOptions:hover {
  cursor: pointer;
}

.wrapper .main_body .container .item_wrap #typeOptions:hover {
  cursor: pointer;
}

.wrapper .main_body .container .item_wrap #brandOptions:hover {
  cursor: pointer;
}

.wrapper .main_body .container .item_wrap .category__heading {
  padding: 0 20px;
  width: 100%;
  margin-bottom: 45px;
  color: #333;
}

.wrapper .main_body .container .item_wrap .category__heading h2 {
  font-size: 30px;
  font-weight: 500;
}

.wrapper .main_body .container .item_wrap .category__inputbox {
  padding: 0 20px;
  margin-bottom: 34px;
}

.wrapper .main_body .container .item_wrap .category__inputbox_inner {
  width: 100%;
  height: 50px;
  overflow: hidden !important;
  border: 1px solid #e6e6e6;
  transition: all 0.3s linear;
}

.wrapper .main_body .container .item_wrap .category__inputbox_inner-input {
  width: 100%;
  height: 100%;
  padding: 0 20px;
  font-size: 16px;
  font-weight: 400;
  border: 1px solid #e6e6e6;
  transition: all 0.3s linear;
}

.wrapper .main_body .container .item_wrap .category__inputbox_inner-input::-webkit-input-placeholder {
  font-size: 16px !important;
}

.wrapper .main_body .container .item_wrap .category__inputbox_inner-input::-moz-placeholder {
  font-size: 16px !important;
}

.wrapper .main_body .container .item_wrap .category__inputbox_inner-input:-ms-input-placeholder {
  font-size: 16px !important;
}

.wrapper .main_body .container .item_wrap .category__inputbox_inner-input:-moz-placeholder {
  font-size: 16px !important;
}

.wrapper .main_body .container .item_wrap .category__inputbox_inner-input:focus,
.wrapper .main_body .container .item_wrap .category__inputbox_inner-input:active {
  border: 1px solid #333 !important;
  transition: all 0.3s linear;
  -webkit-transition: all 0.3s linear;
}

.wrapper .main_body .container .item_wrap .category__inputbox_inner-input-danger {
  width: 100%;
  height: 100%;
  padding: 0 20px;
  font-size: 16px;
  font-weight: 400;
  border: 1px solid #F44336 !important;
  transition: all 0.3s linear;
}

.wrapper .main_body .container .item_wrap .category__inputbox_inner-input-danger::-webkit-input-placeholder {
  font-size: 16px !important;
}

.wrapper .main_body .container .item_wrap .category__inputbox_inner-input-danger::-moz-placeholder {
  font-size: 16px !important;
}

.wrapper .main_body .container .item_wrap .category__inputbox_inner-input-danger:-ms-input-placeholder {
  font-size: 16px !important;
}

.wrapper .main_body .container .item_wrap .category__inputbox_inner-input-danger:-moz-placeholder {
  font-size: 16px !important;
}

.wrapper .main_body .container .item_wrap .category__inputbox_inner-input-danger:focus,
.wrapper .main_body .container .item_wrap .category__inputbox_inner-input-danger:active {
  border: 1px solid #F44336 !important;
  transition: all 0.3s linear;
  -webkit-transition: all 0.3s linear;
}

.wrapper .main_body .container .item_wrap .category__inputbox_text {
  width: 100%;
  height: 250px;
  overflow: hidden !important;
  border: 1px solid #e6e6e6;
  transition: all 0.3s linear;
}

.wrapper .main_body .container .item_wrap .category__inputbox_text textarea {
  padding: 20px 20px;
  width: 100%;
  height: 100%;
  font-size: 16px;
  font-weight: 400;
  border: none;
  resize: none;
  transition: all 0.3s linear;
}

.wrapper .main_body .container .item_wrap .category__inputbox_text textarea::-webkit-input-placeholder {
  font-size: 16px !important;
}

.wrapper .main_body .container .item_wrap .category__inputbox_text textarea::-moz-placeholder {
  font-size: 16px !important;
}

.wrapper .main_body .container .item_wrap .category__inputbox_text textarea:-ms-input-placeholder {
  font-size: 16px !important;
}

.wrapper .main_body .container .item_wrap .category__inputbox_text textarea:-moz-placeholder {
  font-size: 16px !important;
}

.wrapper .main_body .container .item_wrap .category__inputbox_text textarea:focus,
.wrapper .main_body .container .item_wrap .category__inputbox_text textarea:active {
  border: 1px solid #333 !important;
  transition: all 0.3s linear;
  -webkit-transition: all 0.3s linear;
}

.wrapper .main_body .container .item_wrap .category__inputbox_text-danger {
  width: 100%;
  height: 250px;
  overflow: hidden !important;
  border: 1px solid #F44336 !important;
  transition: all 0.3s linear;
}

.wrapper .main_body .container .item_wrap .category__inputbox_text-danger textarea {
  padding: 20px 20px;
  width: 100%;
  height: 100%;
  font-size: 16px;
  font-weight: 400;
  border: none;
  resize: none;
  transition: all 0.3s linear;
}

.wrapper .main_body .container .item_wrap .category__inputbox_text-danger textarea::-webkit-input-placeholder {
  font-size: 16px !important;
}

.wrapper .main_body .container .item_wrap .category__inputbox_text-danger textarea::-moz-placeholder {
  font-size: 16px !important;
}

.wrapper .main_body .container .item_wrap .category__inputbox_text-danger textarea:-ms-input-placeholder {
  font-size: 16px !important;
}

.wrapper .main_body .container .item_wrap .category__inputbox_text-danger textarea:-moz-placeholder {
  font-size: 16px !important;
}

.wrapper .main_body .container .item_wrap .category__inputbox_number {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  height: 50px;
  border: 1px solid #333 !important;
}

.wrapper .main_body .container .item_wrap .category__inputbox_number .labelbox {
  height: 100%;
  display: flex;
  align-items: center;
  background-color: #333;
  color: #fff;
  padding: 0 20px;
  transition: all 0.3s linear;
}

@media (max-width: 768px) {
  .wrapper .main_body .container .item_wrap .category__inputbox_number .labelbox {
    padding: 0 10px !important;
  }
}

.wrapper .main_body .container .item_wrap .category__inputbox_number .labelbox span {
  font-size: 16px;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.wrapper .main_body .container .item_wrap .category__inputbox_number .labelbox:hover {
  background-color: #FF5722;
  transition: all 0.3s linear;
}

.wrapper .main_body .container .item_wrap .category__inputbox_number-input {
  margin: 0 20px;
  height: 100%;
  flex: 1;
  font-size: 16px !important;
}

@media (max-width: 768px) {
  .wrapper .main_body .container .item_wrap .category__inputbox_number-input {
    font-size: 13px !important;
  }
}

.wrapper .main_body .container .item_wrap .category__inputbox_number-input::-webkit-inner-spin-button {
  opacity: 1;
}

.wrapper .main_body .container .item_wrap .category__inputbox_number.danger {
  border: 1px solid #F44336 !important;
}

.wrapper .main_body .container .item_wrap .category__inputbox.divided-right {
  padding-left: 0 !important;
}

.wrapper .main_body .container .item_wrap .category__inputbox.divided-left {
  padding-right: 0 !important;
}

.wrapper .main_body .container .item_wrap .category__buttonbox {
  width: 100%;
  padding: 0 20px;
}

.wrapper .main_body .container .item_wrap .category__buttonbox_button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 46px;
  font-family: inherit;
  font-weight: 400;
  font-size: 16px;
  text-transform: uppercase;
  border-radius: 100px;
  color: #fff;
  background-color: #FF5722;
  transition: all 0.3s linear;
}

.wrapper .main_body .container .item_wrap .category__buttonbox_button:hover {
  background-color: #E64A19;
  transition: all 0.3s linear;
}

.wrapper .main_body .container .item_wrap .product_link {
  display: flex;
  align-items: center;
  margin: 25px 0px;
  width: 100%;
  height: 50px;
}

@media (max-width: 768px) {
  .wrapper .main_body .container .item_wrap .product_link {
    margin: 15px;
  }
}

.wrapper .main_body .container .item_wrap .product_link.product {
  background-color: #FFA000;
}

.wrapper .main_body .container .item_wrap .product_link.category {
  background-color: #E91E63;
}

.wrapper .main_body .container .item_wrap .product_link__inner {
  padding: 0 20px;
}

.wrapper .main_body .container .item_wrap .product_link__inner p .icon {
  font-family: "Montserrat", sans-serif;
  color: #fff;
  font-size: 20px;
  margin-right: 15px;
}

.wrapper .main_body .container .item_wrap .product_link__inner p a {
  font-family: "Montserrat", sans-serif;
  color: #fff;
  font-size: 20px;
}

.wrapper .main_body .container .item_wrap .adminSession {
  display: block;
  width: 100%;
  height: 50px;
  margin-bottom: 40px;
  transition: all 0.3s linear;
}

.wrapper .main_body .container .item_wrap .adminSession.success {
  background-color: #4CAF50;
}

.wrapper .main_body .container .item_wrap .adminSession.error {
  background-color: #E91E63;
}

@media (max-width: 768px) {
  .wrapper .main_body .container .item_wrap .adminSession {
    margin-bottom: 20px;
  }
}

.wrapper .main_body .container .item_wrap .adminSession__inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
}

.wrapper .main_body .container .item_wrap .adminSession__inner p {
  color: #fff;
  font-size: 16px;
}

.wrapper .main_body .container .item_wrap .adminSession__inner #adminCross:hover {
  cursor: pointer;
}

.wrapper .main_body .container .dropdown_mobile {
  position: absolute;
  display: none;
  opacity: 0;
  visibility: hidden;
  top: 20px;
  right: 10px;
  left: 30px;
  font-size: 15px;
  background-color: #fff;
  border-radius: 3px;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
  transition: all 0.3s linear;
}

.wrapper .main_body .container .dropdown_mobile-wrap {
  padding: 15px 10px;
  color: #333;
}

.wrapper .main_body .container .dropdown_mobile-wrap ul li {
  margin-bottom: 10px;
}

.wrapper .main_body .container .dropdown_mobile-wrap ul li a {
  display: block;
  padding: 10px;
  color: #333;
  transition: all 0.3s linear;
}

.wrapper .main_body .container .dropdown_mobile-wrap ul li a:hover {
  background-color: #E64A19;
  color: #fff;
}

.wrapper.active .sidebar_menu {
  width: 100px;
}

.wrapper.active .sidebar_menu__inner ul li a .list {
  display: none !important;
}

.wrapper.active .sidebar_menu__inner ul li a {
  font-size: 23px;
}

.wrapper.active .sidebar_menu__inner ul li a svg {
  height: 23px;
  width: 23px;
}

.wrapper.active .hamberger .toggledRight {
  display: block !important;
}

.wrapper.active .hamberger .toggledLeft {
  display: none !important;
}

.wrapper.active .container {
  width: calc(100% - 100px);
  margin-left: 100px;
}

.wrapper.active .adminLogo {
  width: 100px;
}

.wrapper.active .adminLogo a {
  font-size: 19px;
}

.wrapper.active .top_menu {
  width: calc(100% - 100px);
}

@media (max-width: 768px) {
  .wrapper.mediaTab {
    font-size: 8px;
  }

  .wrapper.mediaTab .top_menu {
    width: calc(100% - 100px);
    justify-content: flex-end !important;
  }

  .wrapper.mediaTab .top_menu .home_link {
    display: none;
  }

  .wrapper.mediaTab .top_menu .right_info .icon_wrap {
    display: none;
  }

  .wrapper.mediaTab .top_menu .right_info #toggleMenu {
    display: block !important;
  }

  .wrapper.mediaTab .sidebar_menu {
    width: 100px;
  }

  .wrapper.mediaTab .sidebar_menu__inner {
    padding-top: 3px;
  }

  .wrapper.mediaTab .sidebar_menu__inner ul li a .list {
    display: none !important;
  }

  .wrapper.mediaTab .sidebar_menu__inner ul li a {
    font-size: 20px;
  }

  .wrapper.mediaTab .hamberger {
    display: none;
  }

  .wrapper.mediaTab .container {
    width: calc(100% - 100px);
    margin-left: 100px;
  }

  .wrapper.mediaTab .container .dropdown_mobile {
    position: absolute;
    display: block;
    top: 0px;
    right: 10px;
    left: 10px;
  }

  .wrapper.mediaTab .container .dropdown_mobile.toggled {
    position: absolute !important;
    display: block !important;
    opacity: 1 !important;
    visibility: visible !important;
    top: 0px !important;
    right: 10px !important;
    left: 30px !important;
    z-index: 2003 !important;
    transition: all 0.3s linear;
  }

  .wrapper.mediaTab .adminLogo {
    width: 100px;
  }

  .wrapper.mediaTab .adminLogo a {
    font-size: 16px;
  }
}

