.wrapper {
  width: 100%;
  height: 100%;
  background-color: #fffffe;
}

.wrapper .top_navbar {
  width: 100%;
  height: 65px;
  display: flex;
  position: fixed;
  top: 0;
  z-index: 2005;
}

.wrapper .top_navbar .adminLogo {
  width: 250px;
  height: 100%;
  background: #FF5722;
  border-bottom: 1px solid #fff;
  transition: all 0.3s linear;
}

.wrapper .top_navbar .adminLogo a {
  display: block;
  text-align: center;
  font-size: 20px;
  color: #fff;
  padding: 15px 0;
  transition: all 0.3s linear;
}

.wrapper .top_navbar .top_menu {
  width: calc(100% - 250px);
  height: 100%;
  background-color: #fff;
  padding: 0 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid rgba(189, 189, 189, 0.5);
  transition: all 0.3s linear;
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
}

.wrapper .top_navbar .top_menu .home_link a {
  display: block;
  background-color: #FF5722;
  color: #fff;
  padding: 8px 15px;
  border-radius: 3px;
  transition: all 0.3s linear;
}

.wrapper .top_navbar .top_menu .home_link a:hover {
  background-color: #E64A19;
}

.wrapper .top_navbar .top_menu .right_info {
  display: flex;
  font-size: 15px !important;
}

.wrapper .top_navbar .top_menu .right_info .icon_wrap {
  padding: 8px 15px;
  color: #fff;
  border-radius: 3px;
  background-color: #FF5722;
  margin: 0 5px;
  cursor: pointer;
  transition: all 0.3s linear;
}

.wrapper .top_navbar .top_menu .right_info .icon_wrap:hover {
  background-color: #E64A19;
}

.wrapper .main_body .sidebar_menu {
  position: fixed;
  top: 65px;
  left: 0;
  background-image: linear-gradient(to right bottom, #FF5722, #E64A19);
  color: #fff;
  width: 250px;
  height: 100%;
  transition: all 0.3s linear;
}

.wrapper .main_body .sidebar_menu__inner {
  position: relative;
  padding-top: 16px;
}

.wrapper .main_body .sidebar_menu ul li a {
  color: #FFCCBC;
  font-size: 19px;
  padding: 20px 35px;
  display: block;
  white-space: nowrap;
  transition: all 0.3s linear;
}

.wrapper .main_body .sidebar_menu ul li a span {
  display: inline-block;
}

.wrapper .main_body .sidebar_menu ul li a .icon {
  margin-right: 8px;
}

.wrapper .main_body .sidebar_menu ul li a:hover {
  background-color: #E64A19;
  color: #fff;
}

.wrapper .main_body .sidebar_menu ul li a svg {
  height: 19px;
  width: 19px;
}

.wrapper .main_body .sidebar_menu ul li a.active {
  background-color: #E64A19;
  color: #fff;
}

.wrapper .main_body .sidebar_menu .hamberger {
  position: absolute;
  top: 5px;
  right: -25px;
  width: 50px;
  height: 50px;
  background-color: #fff;
  border-radius: 50%;
}

.wrapper .main_body .sidebar_menu .hamberger:hover {
  cursor: pointer;
}

.wrapper .main_body .sidebar_menu .hamberger_inner {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #FF5722;
}

.wrapper .main_body .sidebar_menu .hamberger_inner:hover {
  cursor: pointer;
}

.wrapper .main_body .sidebar_menu .hamberger_inner .arrow {
  color: #fff;
  font-size: 20px;
}

.wrapper .main_body .sidebar_menu .hamberger_inner .arrow:hover {
  cursor: pointer;
}

.wrapper .main_body .sidebar_menu .hamberger_inner,
.wrapper .main_body .sidebar_menu .hamberger_inner .arrow {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.wrapper .main_body .container {
  position: relative;
  width: calc(100% - 250px);
  margin-left: 250px;
  margin-top: 65px;
  padding: 25px 40px;
  transition: all 0.3s linear;
}

.wrapper .main_body .container .item_wrap {
  margin-top: 25px;
}

.wrapper .main_body .container .item_wrap .widget {
  background-color: #fff;
  padding: 20px;
  margin-bottom: 25px;
  border-radius: 3px;
}

.wrapper .main_body .container .item_wrap .widget.widget-tile {
  padding: 24px 20px;
  margin-bottom: 25px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.175) !important;
  transition: all 0.3s linear;
}

.wrapper .main_body .container .item_wrap .widget.widget-tile:hover {
  transform: translateY(-3px);
}

.wrapper .main_body .container .item_wrap .widget.widget-tile .icon {
  font-size: 70px;
  padding: 5px 0;
  color: #FF5722;
}

.wrapper .main_body .container .item_wrap .widget.widget-tile .data-info {
  text-align: right;
}

.wrapper .main_body .container .item_wrap .widget.widget-tile .data-info .desc {
  font-size: 20px;
  line-height: 19px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  margin-bottom: 3px;
}

.wrapper .main_body .container .item_wrap .widget.widget-tile .data-info .value {
  font-size: 25px;
}

.wrapper .main_body .container .item_wrap .widget.widget-tile .data-info .value .icon {
  font-size: inherit;
  color: #4CAF50;
  margin-right: 7px;
  line-height: 23px;
  vertical-align: middle;
}

.wrapper .main_body .container .dropdown_mobile {
  position: absolute;
  display: none;
  opacity: 0;
  visibility: hidden;
  top: 20px;
  right: 10px;
  left: 30px;
  font-size: 15px;
  background-color: #fff;
  border-radius: 3px;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
  transition: all 0.3s linear;
}

.wrapper .main_body .container .dropdown_mobile-wrap {
  padding: 15px 10px;
  color: #757575;
}

.wrapper .main_body .container .dropdown_mobile-wrap ul li {
  margin-bottom: 10px;
}

.wrapper .main_body .container .dropdown_mobile-wrap ul li a {
  display: block;
  padding: 10px;
  transition: all 0.3s linear;
}

.wrapper .main_body .container .dropdown_mobile-wrap ul li a:hover {
  background-color: #E64A19;
  color: #fff;
}

.wrapper.active .sidebar_menu {
  width: 100px;
}

.wrapper.active .sidebar_menu__inner ul li a .list {
  display: none !important;
}

.wrapper.active .sidebar_menu__inner ul li a {
  font-size: 23px;
}

.wrapper.active .sidebar_menu__inner ul li a svg {
  height: 23px;
  width: 23px;
}

.wrapper.active .hamberger .toggledRight {
  display: block !important;
}

.wrapper.active .hamberger .toggledLeft {
  display: none !important;
}

.wrapper.active .container {
  width: calc(100% - 100px);
  margin-left: 100px;
}

.wrapper.active .adminLogo {
  width: 100px;
}

.wrapper.active .adminLogo a {
  font-size: 19px;
}

.wrapper.active .top_menu {
  width: calc(100% - 100px);
}

@media (max-width: 768px) {
  .wrapper.mediaTab {
    font-size: 8px;
  }

  .wrapper.mediaTab .top_menu {
    width: calc(100% - 100px);
    justify-content: flex-end !important;
  }

  .wrapper.mediaTab .top_menu .home_link {
    display: none;
  }

  .wrapper.mediaTab .top_menu .right_info .icon_wrap {
    display: none;
  }

  .wrapper.mediaTab .top_menu .right_info #toggleMenu {
    display: block !important;
  }

  .wrapper.mediaTab .sidebar_menu {
    width: 100px;
  }

  .wrapper.mediaTab .sidebar_menu__inner {
    padding-top: 3px;
  }

  .wrapper.mediaTab .sidebar_menu__inner ul li a .list {
    display: none !important;
  }

  .wrapper.mediaTab .sidebar_menu__inner ul li a {
    font-size: 20px;
  }

  .wrapper.mediaTab .hamberger {
    display: none;
  }

  .wrapper.mediaTab .container {
    width: calc(100% - 100px);
    margin-left: 100px;
  }

  .wrapper.mediaTab .container .dropdown_mobile {
    position: absolute;
    display: block;
    top: 0px;
    right: 10px;
    left: 10px;
  }

  .wrapper.mediaTab .container .dropdown_mobile.toggled {
    position: absolute !important;
    display: block !important;
    opacity: 1 !important;
    visibility: visible !important;
    top: 0px !important;
    right: 10px !important;
    left: 30px !important;
    z-index: 2003 !important;
    transition: all 0.3s linear;
  }

  .wrapper.mediaTab .adminLogo {
    width: 100px;
  }

  .wrapper.mediaTab .adminLogo a {
    font-size: 16px;
  }
}

